@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
}

#display{
	min-height: 100vh;
}

#hero{
	color: white;
	padding: 35px 0 35px 0;
 	background: #FF512F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

#hero > h1{
	margin-top: 0;
}

footer{
	text-align: center;
	margin-top: 50px;
	padding-top: 15px;
	width: 100%;
	height: 100px;
	color: white;
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#allNames{
	display: none;
}

#errorMessage{
	display: none;
	color: red;
}

#loader {	
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 40px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.name{
	color: blue;
	display:inline-block;
	padding: 10px;
	text-transform: capitalize;
	text-align: center;
}

.written{
	display:inline-block;
	text-align: center;r
}

.audio{
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.name-row{
	text-align: center;
}

#noNameFound{
	display: none;
	color: red;
}
